<!DOCTYPE html>
<html lang="en">
  <head>
    <title>micropub!</title>
    <meta name="description" content="micropub">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <h1>Micropub endpoint</h1>
    </header>

    <main>
      <p><a href="https://github.com/muan/micropub-endpoint">source</a></p>
    </main>
  </body>
</html>
